In [1]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [2]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
%%R

require("tidyverse")

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Loading required package: tidyverse

In [4]:
%%R

# Read data
df <- read_csv('economic_confidence.csv')
df

Rows: 253 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): The Gallup Economic Confidence Index summarizes Americans' assessme...
dbl (1): Economic Confidence Index

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
# A tibble: 253 × 2
   The Gallup Economic Confidence Index summarizes Amer…¹ Economic Confidence …²
   <chr>                                                                   <dbl>
 1 Jan 1 1996                                                                  1
 2 Jul 1 1996                                                                 13
 3 Aug 1 1996                                                                 18
 4 Oct 1 1996                                                                 23
 5 Jan 1 1997                                                                 17
 6 May 1 1997                                                                 21
 7 Nov 1 1997                                                                 32
 8 Dec 1 1997                                                                 23
 9 Jan 1 1998                                                                 54
10 Sep 1 1998                                                                 30
# ℹ 243 more rows
# ℹ abbreviated names:
#   ¹​`The Gallup Economic Confidence Index summarizes Americans' assessments of current economic conditions (% excellent or good minus % poor) and economic outlook (% getting better minus % getting worse). It has a theoretical range of -100 to +100.`,
#   ²​`Economic Confidence Index`
# ℹ Use `print(n = ...)` to see more rows

In [5]:
%%R

# Read data
di <- read_csv('disposable_income.csv')
di

Rows: 58 Columns: 1
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Table 2.6. Personal Income and Its Disposition, Monthly

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
# A tibble: 58 × 1
   `Table 2.6. Personal Income and Its Disposition, Monthly`
   <chr>
 1 "Table 2.6. Personal Income and Its Disposition, Monthly"
 2 "Last Revised on: January 31, 2025 - Next Release Date February 28, 2025"
 3 "Line,,2023,2023,2023,2023,2023,2023,2023,2023,2023,2023,2023,2023,2024,2024…
 4 "Line,,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,FEB,MAR,APR,MAY,J…
 5 "1,Personal income,22855.1,22984.2,23104.4,23194.0,23299.8,23372.5,23427.8,2…
 6 "2,\"    Compensation of employees\",13832.3,13883.8,13934.1,14003.7,14081.3…
 7 "3,\"        Wages and salaries\",11442.3,11480.9,11518.8,11574.8,11638.1,11…
 8 "4,\"            Private industries\",9762.5,9792.7,9823.4,9872.8,9927.5,998…
 9 "5,\"            Government\",1679.8,1688.2,1695.4,1702.0,1710.7,1722.3,1737…
10 "6,\"        Supplements to wages and salaries\",2390.0,2402.9,2415.3,2428.9…
# ℹ 48 more rows
# ℹ Use `print(n = ...)` to see more rows

In addition: Warning message:
One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)

In [6]:
import pandas as pd

In [22]:
df = pd.read_csv('economic_confidence.csv')

In [23]:
df.tail()

,The Gallup Economic Confidence Index summarizes Americans' assessments of current economic conditions (% excellent or good minus % poor) and economic outlook (% getting better minus % getting worse). It has a theoretical range of -100 to +100.,Economic Confidence Index
248,Sep 1 2024,-28
249,Oct 1 2024,-26
250,Nov 1 2024,-17
251,Dec 1 2024,-14
252,Jan 1 2025,-19

In [24]:
df.columns = ['Date', 'Economic_Confidence_Index']

In [25]:
df.head()

         Date  Economic_Confidence_Index
0  Jan 1 1996                          1
1  Jul 1 1996                         13
2  Aug 1 1996                         18
3  Oct 1 1996                         23
4  Jan 1 1997                         17

In [26]:
df_f = df[df['Date'].str.contains('2023|2024')]

In [27]:
df_f

            Date  Economic_Confidence_Index
228   Jan 2 2023                        -39
229   Feb 1 2023                        -36
230   Mar 1 2023                        -38
231   Apr 1 2023                        -44
232   May 1 2023                        -43
233   Jun 1 2023                        -32
234   Jul 3 2023                        -30
235   Aug 1 2023                        -30
236   Sep 1 2023                        -39
237   Oct 1 2023                        -41
238   Nov 1 2023                        -40
239   Dec 1 2023                        -32
240   Jan 2 2024                        -26
241   Feb 1 2024                        -22
242   Mar 1 2024                        -20
243   Apr 1 2024                        -29
244   May 1 2024                        -34
245  June 1 2024                        -33
246  July 1 2024                        -35
247   Aug 1 2024                        -27
248   Sep 1 2024                        -28
249   Oct 1 2024                        -26
250   Nov 1 2024                        -17
251   Dec 1 2024                        -14

In [28]:
df_f.to_csv('ECI.csv',index=False)

In [29]:
%%R

ggplot(df_f) +
    aes(x = Date, y = `Economic Confidence Index`) +
    geom_line()

Error in (function (expr, envir = parent.frame(), enclos = if (is.list(envir) ||  :
  object 'df_f' not found

RInterpreterError: Failed to parse and evaluate line '\nggplot(df_f) +\n    aes(x = Date, y = `Economic Confidence Index`) +\n    geom_line()\n'.
R error message: "Error in (function (expr, envir = parent.frame(), enclos = if (is.list(envir) ||  : \n  object 'df_f' not found"

In [46]:
di = pd.read_csv('disposable_income.csv',delimiter='|')

In [47]:
di.head()

  Table 2.6. Personal Income and Its Disposition, Monthly
0  Table 2.6. Personal Income and Its Disposition...
1  Last Revised on: January 31, 2025 - Next Relea...
2  Line,,2023,2023,2023,2023,2023,2023,2023,2023,...
3  Line,,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,...
4  1,Personal income,22855.1,22984.2,23104.4,2319...

In [34]:
di = di.iloc[2:]

In [35]:
di.head()

  Table 2.6. Personal Income and Its Disposition, Monthly
2  Line,,2023,2023,2023,2023,2023,2023,2023,2023,...
3  Line,,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,...
4  1,Personal income,22855.1,22984.2,23104.4,2319...
5  2,"    Compensation of employees",13832.3,1388...
6  3,"        Wages and salaries",11442.3,11480.9...

In [36]:
# Step 1: Extract the first two rows
row1 = di.iloc[0]  # First row
row2 = di.iloc[1]  # Second row

# Step 2: Combine the two rows into a single header
new_header = row1 + '_' + row2 

# Step 3: Set the combined row as the new header
di.columns = new_header

# Step 4: Remove the first two rows from the DataFrame
di = di.iloc[2:].reset_index(drop=True)